# SPDX-FileCopyrightText: 2023 - 2025 NeoN authors
#
# SPDX-License-Identifier: Unlicense

# Available GPUs and corresponding Docker images
.use-nvidia-gpu:
  tags: ["nvidia-h100-gpus"]
  image: chihtaw/cuda-openfoam-ginkgo:12.8.1-v2412-arch_90

.use-amd-gpu:
  tags: ["amd-gpus"]
  image: chihtaw/rocm-openfoam-ginkgo:6.4.1-v2412-arch_gfx90a

.use-intel-gpu:
  tags: ["intel-gpus"]
  image: dheerajraghunathan/oneapi-ubuntu:2024.2-22.04-arch_pvc

# Common configuration for all build and test jobs
.build-and-test-neon-common:
  rules:
    - if: $CI_PIPELINE_SOURCE == "trigger" && $BENCHMARK == "false"
      when: always
    # Skip in all other cases
    - when: never

# Special configuration for build and test jobs on Intel GPUs
.build-and-test-neon-intel:
  rules:
    - if: $CI_PIPELINE_SOURCE == "trigger" && $BENCHMARK == "false" && $SKIP_INTEL == "false"
      when: always
    # Skip in all other cases
    - when: never

# Common configuration for all benchmark jobs
.benchmark-neon-common:
  rules:
    - if: $CI_PIPELINE_SOURCE == "trigger" && $BENCHMARK == "true"
      when: always
    # Skip in all other cases
    - when: never

  variables:
    RESULTS_DIR: "benchmark-results"
    RUN_IDENTIFIER: "${CI_PIPELINE_ID}"
    REPO_NAME: "NeoFOAM-BenchmarkData"
    TARGET_REPO: "github.com/exasim-project/${REPO_NAME}.git"
    TARGET_BRANCH: "ci-benchmarks"

  before_script:
    - pip3 install --user --break-system-packages xmltodict

# build and test jobs for NeoN
build-and-test-neon-nvidia:
  extends:
    - .build-and-test-neon-common
    - .use-nvidia-gpu
  script:
    - ./ci/lrz-gitlab/build-and-test.sh nvidia

build-and-test-neon-amd:
  extends:
    - .build-and-test-neon-common
    - .use-amd-gpu
  script:
    - ./ci/lrz-gitlab/build-and-test.sh amd

build-and-test-neon-intel:
  extends:
    - .build-and-test-neon-intel
    - .use-intel-gpu
  script:
    - ./ci/lrz-gitlab/build-and-test.sh intel

# benchmark jobs for NeoN
benchmark-neon-nvidia:
  extends:
    - .benchmark-neon-common
    - .use-nvidia-gpu
  script:
    - ./ci/lrz-gitlab/benchmark.sh nvidia

benchmark-neon-amd:
  extends:
    - .benchmark-neon-common
    - .use-amd-gpu
  script:
    - ./ci/lrz-gitlab/benchmark.sh amd
